.header {
    background-color: #fff;
    .container {
        max-width: 960px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        height: 48px;
    }
    &__logo {
        display: flex;
        align-items: center;
        a{
            font-size: 20px;
            font-weight: 500;
        }
    }

    &__profile{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        padding: 0px 10px;
        .photo{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin: 0px 5px 0px 10px;
        }
    }
    &__profile:hover{
        background-color: #ebebeb;
    }
    &__turn-up {
        width: 15px;
        height: 15px;
    }
    &__turn-down{
        width: 15px;
        height: 15px;
        transform: rotate(180deg);
    }

    

    &__login {
        display: flex;
        align-items: center;
        font-weight: 500;
    }
    &__profile--hover{
        background-color: #fff;
        z-index: 1;
        margin-top: 90px;
        margin-left: -60px;
        padding: 10px;
        border: 1px solid silver;
        cursor: pointer;
    }
    &__profile--hover:hover {
        background-color: #ebebeb;
    }

}